// Sizes
$container-width: 1300px;

// Colors
$light-gray: #fafafa;
$gray: #e9e7e7;
$primary-black: #444444;
$primary: #030e12;
$blue: #1c54c5;
$white: #ffffff;
$black: #000000;

$shadow-many: 0 2px 2px 0 rgba(0, 0, 0, 0.24), 0 0 2px 0 rgba(0, 0, 0, 0.12);

// Font Family
$font-family: 'Helvetica';

// Breakpoints
$breakpoints: (
  'tablet': (
    min-width: 600px,
  ),
  'desktop': (
    min-width: 1200px,
  ),
) !default;
