@import './mixins';
@import './variables';

body {
  background: $light-gray;
  color: $primary-black;
  font-family: $font-family;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
a,
span,
p {
  box-sizing: border-box;
}

a {
  color: $primary;
}

a,
span,
p,
button {
  margin: 0;
  padding: 0;
}

div {
  box-sizing: border-box;
}

.container {
  margin: 0 auto;
  max-width: $container-width;
  padding: 15px;

  @include media-min-width('desktop') {
    padding: 0;
  }
}

.no-results {
  background: $white;
  border-radius: 5px;
  box-shadow: $shadow-many;
  margin-top: 20px;
  padding: 20px;
}
